<section class="contact-section">
  <mat-card class="contact-card">
    <h1>Coffee shop Tia Rosa</h1>
    <p class="slogan">O seu café, com sabor e aconchego</p>

    <p class="contact-intro">Entre em contato conosco para adquirir nossos produtos e saber mais sobre nossos serviços
      exclusivos.</p>

    <div class="info">
      <p><mat-icon>location_on</mat-icon> Av. Ayrton Senna, 3000 - Barra da Tijuca, Rio de Janeiro - RJ</p>
      <p><mat-icon>phone</mat-icon> (88) 97942-8488</p>
      <p><mat-icon>email</mat-icon> contato&#64;coffeshopTiaRose.com.br</p>
      <p><mat-icon>access_time</mat-icon> Seg a Sex: 08h às 18h | Sáb: 08h às 14h</p>
    </div>

    <div class="actions">
      <a mat-raised-button color="primary" href="tel:+558897942-8488">
        <mat-icon>call</mat-icon> Ligar
      </a>
      <a mat-raised-button color="accent" href="mailto:contato&#64;coffeshopTiaRose.com.br">
        <mat-icon>email</mat-icon> Enviar e-mail
      </a>
    </div>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.1168145531783!2d-43.36346792542915!3d-22.982731540588187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bda2ed54ec2e1%3A0x4431d262cad1d163!2sAv.%20Ayrton%20Senna%2C%203000%20-%20Barra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022775-003!5e0!3m2!1spt-BR!2sbr!4v1696348745819!5m2!1spt-BR!2sbr"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </mat-card>
</section>
