<app-banner></app-banner>

<section class="about" id="about-section">
  <div class="image-container">
    <img src="assets/images/Coffe-shop-3.jpg">
  </div>
  <div class="text-container">
    <h2>Sobre a Cafeteria Tia Rosa</h2>
    <p>
      A Cafeteria Tia Rosa é um lugar acolhedor e cheio de sabor, onde cada xícara de café conta uma história. Fundada
      com a paixão de oferecer o melhor café da cidade, nossa cafeteria se tornou um ponto de encontro para amigos,
      famílias e amantes de um bom café.
    </p>
    <p>
      Nossos grãos são cuidadosamente selecionados e torrados para garantir um aroma e sabor inigualáveis. Além do café,
      oferecemos uma variedade de delícias, desde bolos caseiros até lanches especiais, todos preparados com
      ingredientes frescos e de alta qualidade.
    </p>
    <p>
      Venha nos visitar e desfrutar de um ambiente aconchegante, onde o tempo parece desacelerar e cada momento é
      especial. Na Cafeteria Tia Rosa, você não encontra apenas café, mas uma experiência completa de conforto e sabor.
    </p>
  </div>
</section>

<app-menu-highlights></app-menu-highlights>
