.banner {
  text-align: center;
  padding: 50px 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/Coffe-shop6.jpg") center/cover no-repeat;
  color: white;

  @media (max-width: 480px) {
    // Media query para celulares
    height: 100vh;
    padding: 30px 10px;
  }
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;

  @media (max-width: 480px) {
    // Media query para celulares
    font-size: 2em;
    margin-bottom: 15px;
  }
}

p {
  font-size: 1.5em;
  margin-bottom: 30px;

  @media (max-width: 480px) {
    // Media query para celulares
    font-size: 1em;
    margin-bottom: 20px;
  }
}

button {
  width: 100%;
  max-width: 300px;
  height: 3rem;
  background-color: #d2b48c;
  color: #795548;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;

  @media (max-width: 480px) {
    // Media query para celulares
    font-size: 0.9rem;
    height: 2.5rem;
  }

  &:hover {
    background-color: #ff7043;
    color: white;
  }
}
