html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Impede o overflow horizontal
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Cores Base */
$primary-color: #795548; // Marrom
$secondary-color: #D2B48C; // Bege
$accent-color: #FF7043; // Laranja queimado
$text-color: #333333; // Cinza escuro para textos
$background-color: #FFFFFF; // Branco para fundos
